@import "tailwindcss";

@theme {
  --color-nexus-pink: #F21B80;
  --color-nexus-orange: #F24638;
  --color-nexus-accent: #6366f1;
  
  --font-sans: "Inter", ui-sans-serif, system-ui;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #09090b
  }

  ::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #ff0080, #ff0080);
    border-radius: 20px;
    border: 2px solid #09090b;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #ff0080;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #ff0080 #09090b;
  }
}

html {
  scrollbar-gutter: stable;
}

.reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease-out;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}