@import "tailwindcss";

@theme {
  /* Cores da Nexus */
  --color-nexus-pink: #F21B80;        /* Seu azul principal */
  --color-nexus-orange: #F24638;        /* Fundo dark elegante */
  --color-nexus-accent: #6366f1;      /* Cor de destaque/detalhes */
  
  /* Você também pode definir fontes aqui */
  --font-sans: "Inter", ui-sans-serif, system-ui;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Chrome, Edge, Safari */
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #09090b; /* zinc-950 */
  }

  ::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #ff0080, #ff0080); /* Seu gradiente Nexus */
    border-radius: 20px;
    border: 2px solid #09090b; /* Cria um respiro entre a barra e a borda */
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #ff0080;
  }

  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #ff0080 #09090b;
  }
}

html {
  scrollbar-gutter: stable;
}

/* No seu input.css ou index.css */
.reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease-out;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}